.bgImg {
    background: rgba(0, 0, 0, 0.8)url('https://cdn.mos.cms.futurecdn.net/MLcwbwCtdYcfU9dAtrbu64-1200-80.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.height {
    height: 42vw;
}